*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #333333;
}

.container {
  margin: 0 20px;

  @media (min-width: 768px) {
    margin: 0 30px;
  }

  @media (min-width: 1920px) {
    margin: 0 auto;
    width: 1220px;
  }
}

.button {
  padding: 10px 15px;
  min-width: 85px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #222222;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}

.page-header {
  background-color: #222222;
}

.page-header__container {
  /* display: flex;
  flex-direction: column; */
  padding: 15px 0;
}

.logo__pic {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;
  z-index: 2;

  @media (min-width: 768px) {
    position: static;
    width: 460px;
  }

  @media (min-width: 1920px) {
    width: 480px;
  }
}

.nav__button {
  padding: 16px;
  position: absolute;
  top: -50px;
  right: 17px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

.nav__button--closed {
  &::before {
    top: 15px;
    left: 4px;
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 4px;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(-45deg);
  }
}

.nav__list {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  right: 0;
  background-color: #282828;
}

.nav__list--opened {
  display: block;
}

.nav__item {
  border-top: 1px solid #55565a;
}

.nav__item:last-child {
  border-bottom: 1px solid #55565a;
}

.nav__link {
  padding: 22px 15px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #d5c9be;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

.baner__container {
  margin: 0;
  padding: 27px 20px;
  background-color: #222222;
}

.baner__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 1;
}

.baner__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.features-list__item {
  min-height: 20px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    margin: auto;
    margin-left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../images/check-mark.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.features-list__text {
  padding-left: 25px;
  background-color: #282828;
}

.buner__button {
  margin-top: 12px;
}

.advantages__container {
  padding: 7px 0 27px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.advantages__item {
  position: relative;
  padding: 20px 33px 20px 39px;
  display: flex;
  align-items: center;
  min-height: 23px;

  &::before {
    content: "";
    position: absolute;
    margin: auto;
    margin-left: 0;
    width: 29px;
    height: 23px;
    background-image: url("../images/exclude.svg");
    background-size: 29px 23px;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.advantages__item:not(:last-child) {
  border-bottom: 1px solid #55565a;
}

.advantages__button {
  margin-top: 20px;
  width: 100%;
}

.consultation__container {
  padding: 27px 0;
}

.consultation__content {
  padding: 27px;
  background-color: #ffffff;
  border: 2px solid #d5c9be;
  border-radius: 15px;
}

.consultation__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  color: #38535d;
}

.consultation__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.consultation__input {
  padding: 6px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  border: 2px solid #d6d6d6;
  border-radius: 4px;
}

.consultation__button {

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    outline: none;
    opacity: 0.6;
  }
}

.agreements {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 7px;
}

.agreements__field {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}

.agreements__checkbox {
  margin: 0;
}

.agreements__text {
  color: #55565a;
}

.consultation__button {
  color: #ffffff;
  background-color: #282828;
  font-size: 16px;
  font-weight: 400;
}

.footer-nav {
  border-top: 1px solid #d5c9be;
  border-bottom: 1px solid #d5c9be;
}

.footer-nav__container {
  padding: 27px 0;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.social__container {
  padding: 27px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.social__logo-link {
  display: block;
  width: 154px;
  height: 29px;
  background-image: url("../images/logo.svg");
  background-size: 154px 29px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__list {
  margin: 0;
  padding: 0;
  max-width: 250px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #d5c9be;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 32px 32px;

  &:hover {
    background-color: #9b8a7b;
  }

  &:focus {
    background-color: #9b8a7b;
  }

  &:active {
    background-color: #796b5e;
  }
}

.social__link--instagram {
  mask-image: url("../images/instagram.svg");
}

.social__link--tik-tok {
  mask-image: url("../images/tik-tok.svg");
}

.social__link--in {
  mask-image: url("../images/in.svg");
}

.social__link--facebook {
  mask-image: url("../images/facebook.svg");
}

.social__link--youtube {
  mask-image: url("../images/youtube.svg");
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.copyright__text-link {
  text-decoration: none;
  color: #d5c9be;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}

.copyright__text {
  width: 100%;
  text-align: center;
  order: 1;
}
